* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {

}

/* <------ Navbar ------> */

nav {
  background-color: #fff;
  height: 64px;
  width: 100vw;
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav h1 {
  display: none;
}

nav h2 {
  display: none;
}

nav ul {
  display: none;
}

@media only screen and (min-width: 700px) {

  nav {
    justify-content: left;
    align-items: center;
  }

  .nav-logo {
    margin-left: 24px;
    height: 50px;
    width: 100px;
  }

  .nav-on-campus, .nav-online, .nav-user-login {
    display: none;
  }

  nav h1 {
    display: flex;
    text-transform: uppercase;
    font-size: 2.0rem;
    font-weight: bold;
    color: #4e5151;
  }

  nav h2 {
    display: flex;
    text-transform: uppercase;
    font-size: 2.0rem;
    font-weight: lighter;
    color: #9a9d9e;
  }

  nav ul {
    list-style-type: none;
    width: 100vw;
    color: #4b4b4b;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  nav li {
    margin-left: 16px;
  }

  .nav-sign-in {
    margin-right: 24px;
  }
}

/* <------ Main Page ------> */

.banner {
  background-color: #dfe1e5;
}

.banner img {
  margin-top: 64px;
  width: 100vw;
}

.banner-header {
  margin-top: 32px;
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  color: #4e5151;
}

.banner-header h1 {
  margin-bottom: 32px;
}

.banner-header h2 {
  margin-bottom: 24px;
}

.banner-header button {
  margin-bottom: 32px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #9a9d9e;
  color: #fff;
  font-size: 1.2rem;
  width: 97%;
}

@media only screen and (min-width: 700px) {
  .banner {
    display: flex;
  }

  .banner img {
    width: 59%;
    margin: 96px 24px 32px 24px;
  }

  .banner-header {
    margin-top: 96px;
    margin-right: 64px;
    justify-content: center;
  }

  .banner-header h1 {
    font-size: 3.5rem;
  }

  .banner-header h2 {
    width: 75%;
    font-size: 1.8rem;
    color: #4e5151d3;
  }

  .banner-header button {
    margin-top: 24px;
    width: 77%;
    background-color: #4e5151;
  }
}

/* <------ Section - Practicing ------> */

.practicing-wrapper {
  display: none;
}

@media only screen and (min-width: 700px) {

  .practicing {
  display: flex;
}

  .practicing-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    margin-right: 24px;
  }

  .practicing-pic {
    margin-top: 40px;
    margin-bottom: 32px;
    width: 100%;
  }

  .practicing-wrapper h1 {
    margin-bottom: 24px;
    font-size: 3.0rem;
    font-weight: bold;
    color: #4e5151;
  }

  .practicing-wrapper p {
    font-size: 1.5rem;
    font-weight: lighter;
    color: #4e5151;
    margin-bottom: 24px;
  }

  .practicing-wrapper h5 {
    font-size: 1.2rem;
    margin-bottom: 32px;
    color: #4e5151;
  }
}

/* <------ Aside ------> */

.aside-section {
  width: 100vw;
}

.aside-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  margin-right: 16px;
  border: solid 2px #9a9d9e;
}

.aside-text {
  margin-left: 16px;
  color: #4e5151d3;
}

.aside-text h2 {
  margin-top: 32px;
  margin-bottom: 16px;
  font-size: 1.6rem;
}

.aside-text h3 {
  font-size: 1.3rem;
  margin-bottom: 16px;
  font-weight: 400;
}

.aside-text h4 {
  font-size: 1.2rem;
  color: lightskyblue;
  margin-bottom: 48px;
}

@media only screen and (min-width: 700px) {
  .aside-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .aside-wrapper {
    display: flex;
    flex-direction: row;
  }

  .aside-pic {
    width: 40%;
    height: auto;
  }

  .aside-text {
    width: 65%;
  }
}

/* <------ Summary - Learning ------> */

.learning {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.learning-desktop {
  display: none;
}

.learning h1 {
  margin-top: 32px;
  margin-bottom: 16px;
  font-size: 2.0rem;
  font-weight: bold;
  color: #4e5151;
}

.learning-list {
  list-style-type: none;
  width: 97%;
}

.learning-list li {
  background-color: #dfe1e5;;
  padding-top: 16px;
  padding-left: 16px;
  padding-bottom: 24px;
  margin-bottom: 8px;
  display: flex;
  justify-content: flex-start;
  font-size: 1.8rem;
  color: #4b4b4b;
}

@media only screen and (min-width: 700px) {
  .learning {
    display: none;
  }

  .learning-desktop-wrapper {
    border: solid 1px #f1f1f1;
    background-color: #f1f1f1;
  }

  .learning-desktop {
    display: block;
    margin-left: 72px;
    margin-right: 72px;
    padding-bottom: 32px;
  }

  .learning-desktop h1 {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
    font-size: 3.0rem;
    font-weight: bold;
    color: #4e5151;
  }

  .learning-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .learning-cards img {
    height: auto;
  }

  .learning-cards h2 {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .learning-cards h3 {
    margin-bottom: 16px;
  }

  .card {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
    margin-right: 32px;
    width: 450px;
  }

  .card-content {
    display: flex;
    flex-direction: column;
    height: 150px;
  }
}

/* <------ Summary - Thesis Exhibits ------> */

.thesis {
  width: 100vw;
}

.thesis h1 {
  margin-top: 32px;
  margin-bottom: 16px;
  font-size: 2.0rem;
  font-weight: bold;
  color: #4e5151;
  display: flex;
  justify-content: center;
  align-content: center;
}

video {
  width: 100vw;
  margin-bottom: 24px;
}

.thesis-desktop {
  display: none;
}

@media only screen and (min-width: 700px) {
  .thesis {
    display: none;
  }

  .thesis-desktop {
  }

  .thesis-desktop h1 {
  }

  .thesis-desktop-wrapper {
    display: flex;
  }

  .thesis-desktop h1 {
    font-size: 2.0rem;
    font-weight: bold;
    color: #4e5151;
    margin-top: 32px;
    margin-bottom: 32px;
    text-align: center;
  }

  .thesis-wrapper {
    margin-left: 24px;
    margin-right: 24px;
    width: 65%;
  }

  .thesis-wrapper h1 {
    font-size: 2.0rem;
    font-weight: bold;
    color: #4e5151;
    margin-top: 32px;
    margin-bottom: 32px;
    text-align: center;
  }

  video {
    width: 60vw;
  }

  .video-wrapper h2 {
    margin-top: 24px;
    margin-bottom: 8px;
    font-size: 2.0rem;
    font-weight: bold;
    color: #4e5151;
  }

  .video-wrapper p {
    margin-bottom: 32px;
    font-size: 1.5rem;
    font-weight: lighter;
    color: #4e5151;
  }

  /* <------ Aside - Thesis ------> */

  .thesis-aside {
  }

  .thesis-aside-wrapper-fisma, .thesis-aside-wrapper-now {
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

    .thesis-aside-wrapper-fisma {
      background-color: #d3cece;
    }

    .thesis-aside-pic {
      width: 35%;
      height: auto;
      margin-top: 16px;
      margin-bottom: 16px;
      margin-left: 16px;
      margin-right: 16px;
    }

    .thesis-aside-text h2 {
      font-size: 1.6rem;
      color: #4e5151;
    }

    .thesis-aside-text h3 {
      font-size: 1.3rem;
      color: #4e5151;
      font-weight: 400;
    }
}

/* <------ Footer ------> */

.footer-wrapper {
  border: solid 1px #f1f1f1;
  background-color:#f1f1f1;
}

footer h5 {
  font-weight: 400;
  color: #4e5151;
  width: 100vw;
  margin-bottom: 32px;
}

@media only screen and (min-width: 700px) {
  .footer-wrapper {
    display: flex;
  }

  footer h5 {
    margin-top: 16px;
    margin-left: 24px;
  }

  footer h3 {
    color: #4e5151;
    font-weight: 400;
    display: inline-block;
    margin-top: 16px;
    margin-left: 24px;
    margin-right: 24px;
  }
}